.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  display:inline;
  background-color: #1976d2;
  color: white;
}

.bottomleft {
  position: absolute;
  bottom: 25%;
  left: 1%;
}
