.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
    background-color: #00447c;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: inherit;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 60px;
    width: 500px;
    height: 500px;
    flex-direction: inherit;
    border-radius: 5px;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }