<div class="container">
  <div class="column">
    <form>
      <br>
      <div class="container">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter with an email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter with a name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Insert a password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Confirm your password">
        </div>
      </div>
      <br>


      <div class="container">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</div>
