.nav_container {
  background-color: #00447c;
  height: 80px;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0rem !important;
}

.active-link{
  display: none;
}

.no-click {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
